@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

.seta-inicio {
    font-size: 3rem;
    color:rgba(255, 255, 255, 0.555);
    transition: .5s;
  }
  
.seta-inicio:hover {
  color:white;
}

.section01 {
  position: relative
}


.seta-section {
  bottom: 5rem;
  color:gray;
  font-size: 3rem;
  position: absolute;
  transition: .5s;
}

.seta-section:hover {
  color:gray;
}

.intro-welcome {
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 4rem;
}

.intro-lead {
  color: white;
  font-size: 1.5rem;
  margin: 1rem;
}

.card {
  background-color: rgba(255, 255, 255, 0.836);
  min-height: 300px;
  padding: 15px;
}

.card__texto {
  color: rgba(0, 0, 0, 0.658);
  font-size: 0.9rem;
  padding: 15px;
}

.card__autor {
  color: rgba(0, 0, 0, 0.658);
  font-style: italic;
  font-size: .9rem;
}

.card__autor-m {
  color: rgba(0, 0, 0, 0.658);
  font-style: italic;
  font-size: .9rem;
  margin-top: -1.5rem;
}

.card__data {
  color: rgba(0, 0, 0, 0.658);
  font-style: italic;
  font-size: .9rem;
  margin-top: -20px;
}

.botao-enviar {
  margin: 4rem .5rem;
}

.botao-todos {
  margin: 4rem .5rem;
}

.botao-mensagem>.btn {
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid white;
  color: white;
}

span, .btn {
  font-weight: 500;
}

hr {
border-top: 1.5px solid rgba(0,0,0,.1);
}

.btn:hover{
  background-color: rgba(128, 128, 128, 0.151);
}

.botao-mensagem>.btn:hover{
  background-color: white;
  color: gray;
}

div#modal-confirm {
  padding-top: 30vh;
}

.titulo-modal {
  color: gray;
  font-size: 2.5rem;
  font-family: 'Great Vibes', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

.hover {
  border-color: lightgray;
  box-shadow: 0 0 10px rgba(211, 211, 211, 0);
  transition: box-shadow 0.2s ease-out;
}

.hover:hover {
  border-color: lightgray;
  box-shadow:  0 0 10px lightgray;
  transition: box-shadow 0.2s ease-out;
}

.img-md {
  width: 100%;
  min-width: 300px;
  height: 300px;
  object-fit: cover;
}

.img-md2 {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.img-md3 {
  width: 100%;
  object-fit: cover;
}

.img-md4 {
  height: 16rem; 
  object-fit: cover;
}

footer {
  background-color: rgba(211, 211, 211, 0.267);
}

.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}

.contador-caracteres {
  color: gray;
  font-size: 15px;
  font-weight: 300;
}

@media (min-width: 700px){
.modal-dialog {
    max-width: 600px;
    margin: 1.75rem auto;
  }
}

#mensagens {
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-size: cover !important;
}

#local {
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-size: cover !important;
}

#fotos {
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-size: cover !important;
}

modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: auto; 
}

@media (max-width: 500px){
  .card__texto {
    padding: 15px 0;
  }

  .botao-enviar {
    margin: 0 0;
    margin-top: 2rem;
    margin-right: 10px;
  }
  
  .botao-todos {
    margin: 0;
    margin-top: 2rem;
  }

  .img-md3 {
  display: none;
  }

  .img-md4 {
    display: none;
  }

  #mensagens {
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center !important;
    background-size: cover !important;
  }
  
  #local {
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center !important;
    background-size: cover !important;
  }
  
  #fotos {
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-position: center !important;
    background-size: cover !important;
  }

  .bg-color-gray {
    background-color: #DDD !important;
  }
}

.link {
  background-color: #DDDDDD !important;
}

.link:hover {
  background-color: rgba(128, 128, 128, 0.151)!important;
}

.btn-mapa{
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid white;
  color: white;
}

.btn-mapa:hover{
  background-color:white;
  color: gray;
}
